.about__me {
   &--container {
       width: 55rem;
       height: 45rem;
       margin-right: 2rem;
       position: relative;
       transform: translateY(-10rem);

       @include respond(tab-land) {
            transform: translateY(0);
            margin-top: 5rem;
            margin-right: 0;
            width: 100%;
        }
   }

   &--para-block {
       width: 15rem;
       height: 30rem;
       background-color: $color-cream-2;
       position: absolute;
       top: 38rem;
       left: 0;
       z-index: 1;

       @include respond(tab-land) {
         top: 10rem;
         height: 20rem;

        }

        @include respond(phone) {
            display: none;
        }
   }

   &--text-block {
       width: 45rem;
       height: 55rem;
       text-align: center;
       background-color: $color-khaki-grey;
       border-radius: .5rem;
       position: absolute;
       top: 27rem;
       left: 8rem;

       @include respond(tab-land) {
            top: 5rem;
            height: 35rem;
            width: 80%;
       }

       @include respond(phone) {
            width: 100%;
            left: 0;
            text-align: center;
        }
   }

   &--description {
       width: 30rem;
       margin-left: 5rem;
       margin-top: 5rem;
       padding: 1rem;
       display: inline-block;

       @include respond(phone) {
            width: 90%;
            margin-left: 0;
            margin-top: 0;
        }
   }

   &-stack {
    &--header {
        font-size: 2rem;
        padding: 2rem;
        text-transform: uppercase;
        margin-bottom: 1rem;

        &-primary {
            letter-spacing: 3px;
        }
    }

    &--overview {
        max-width: 35rem;
        height: 10rem;
        font-size: 1.4rem;
        text-align: center;
        margin: 0 auto;
    }

    &--list {
        text-transform: uppercase;
        list-style: none;

        &-item {
            font-size: 1.2rem;
            padding: .5rem;
        }
    }

    &--icon {
        margin-left: 1rem;
        font-size: 1.6rem;
    }
}

   &--stack {
       &-container {
           display: grid;
           grid-template-columns: auto auto;
           justify-content: center;
           column-gap: 2rem;
           max-width: 80rem;
           height: 70rem;
           border-radius: 1rem;
           background-image: url(../img/portfolio-background.jpg);
           background-size: cover;
           margin-top: 5rem;
           padding: 1rem;

           @include respond(phone) {
            width: 100%;
            grid-template-columns: auto;
            column-gap: 0;
           }
        }

       &-tab {
           display: inline-block;
           max-width: 40rem;
           height: 68rem;
           border-radius: 2rem;
           background-color: rgba($color-navy-blue, .7);
           text-align: center;
           color: $color-khaki;
           font-family: 'Lato', sans-serif;
           font-size: 1.2rem;
           padding: 1rem;

           @include glassmorphism;

           @include respond(tab-land) {
            max-width: 35rem;
           }

           @include respond(phone) {
            max-width: 100%;
            height: 30rem;
            overflow: scroll;
           }

           &-top {
               margin-top: 2rem;
               margin-bottom: 2rem;
               max-width: 38rem;
           }

           &-mid {
               margin-top: 2rem;
               margin-bottom: 2rem;
           }

           &-bottom {
               margin-top: 5rem;
               margin-bottom: 5rem;
           }
       }
   }
}