.section {
    &__top {
        position: relative;
        height: 100vh;
        max-width: 100%;
        padding: 0 5rem;
        margin-bottom: 2rem;

        @include respond(tab-land) {
            height: fit-content;
            padding: 1rem;
            width: 100%;
        }
    }

    &__about {
        position: relative;
        max-width: 100%;
        height: fit-content;
        margin: 0 2rem;
        margin-bottom: 10rem;
        background-color: $color-background-2;
        padding: 5rem;

        @include respond(tab-port) {
            padding: 2rem;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 5rem;
        }

        &-content {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: space-around;
            align-content: center;
            margin-bottom: 5rem;
            max-width: 100%;

            @include respond(tab-land) {
                grid-template-columns: auto;
                row-gap: 8rem;
            }
        }
    }

    &__contact {
        max-width: 100%;
        position: relative;
        margin: 0 2rem;
        margin-bottom: 20rem;
        overflow: hidden;

        @include respond(tab-port) {
            width: 100%;
            margin: 0 auto;
        }
    }

    &__explore {
        max-width: 100%;
        position: relative;
        margin: 0 2rem;
        margin-bottom: 20rem;
        background-color: $color-background-2;
        padding: 5rem;
        
        @include respond(tab-port) {
            padding: 5rem 2rem;
            width: 100%;
            margin: 0 auto;
        }
    }

    &-header {
        font-size: 2rem;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        letter-spacing: 3px;
        text-align: center;
        margin-left: 10rem;
        margin-bottom: 5rem;
        // transform: translateY(3rem);
        
        //Container
        width: 15rem;
        height: 5rem;
        padding: 1rem;
        border-radius: 3px;
        background-color: $color-khaki;
        box-shadow: .6rem .6rem 1rem rgba($color-black, .2),
        -.6rem -.6rem 1rem rgba($color-white, .8);

        @include respond(tab-port) {
            max-width: 100%;
            font-size: 1.6rem;
            margin-left: 1rem;
            margin-bottom: 2rem;
        }
    }
}



.secondary-header {
    text-transform: uppercase;
    padding: 1rem;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    color: $color-typography;
    margin-top: 2rem;
    letter-spacing: .5rem;
}

.hidden {
    display: none;
    z-index: 0;
}

.footer {
    background-color: $color-black;
    color: $color-white;
    height: 10rem;
    width: 100%;
    padding: 5rem 2rem;
    font-family: $font-lato;
    font-size: 1.2rem;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;

    &__link {

        &:link,
        &:active,
        &:visited {
            text-decoration: none;
            color: $color-khaki;
            text-transform: uppercase;
            margin-left: 1rem;
            font-weight: 700;
        }
    }
    
    &__copyright {
        margin-left: 5rem;
    }
}