.get-in-touch {
   display: inline-block;
   width: 75rem;
   height: 60rem;
   border-radius: .5rem;
   background-color: $color-background-2;
   color: $color-white;
   padding: 2rem;
   margin-top: 15rem;
   margin-left: 2rem;

   @include respond(tab-port) {
      width: 100%;
      height: 55rem;
      margin-left: 0;
      margin-bottom: 2rem;
      margin: 0 auto;
   }

   &-header {
      letter-spacing: .5rem;
      padding: 1rem;
      font-size: 1.6rem;
      font-weight: 900;
      text-align: center;
      margin-bottom: 2rem;
   }

   &-summary {
      font-size: 1.4rem;
      max-width: 60rem;
      padding: 1rem;
      margin-bottom: 3rem;

      @include respond(tab-land) {
         max-width: 90%;
         text-align: left;
         margin: 0 auto;
         margin-bottom: 2rem;
      }
   }

   &-form {
      width: 40rem;
      margin-left: 5rem;

      @include respond(tab-port) {
         width: 100%;
         text-align: center;
         margin-left: 0;
      }

      &--data {
         width: 100%;
         margin-bottom: 3rem;

         @include respond(tab-port) {
            text-align: center;
         }

         &-label {
            height: 5rem;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1.4rem;
            padding: 2rem;
         }

         &-input {
            width: 60rem;
            height: 3rem;
            border-radius: 1rem;
            outline: none;
            border: none;
            margin-top: 1rem;
            background-color: $color-white;
            color: $color-typography;
            font-size: 1.6rem;
            padding: 1rem;

            &:focus {
               border-bottom: 3px solid orangered;
               box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
            }

            @include respond(tab-port) {
               width: 90%;
            }
         }
      }

      &-btn {
         width: 8rem;
         height: 4rem;
         border: 0;
         border-radius: 3px;
         background-color: $color-plum;
         color: $color-khaki;
         margin-left: 3rem;
         font-weight: 800;
         margin-bottom: 2rem;

         @include respond(tab-port) {
            margin-left: 0;
         }
      }
   }

   &-list {
      list-style: none;
   }

   &-socials {
      font-size: 1.2rem;
      padding: 1.5rem;
      margin-left: 10rem;
   }

   &-link {
      &:active,
      &:visited,&:link {
         text-decoration: none;
         color: $color-khaki;

      }
   }

   &-icon {
      margin-right: 1.5rem;
      color: $color-khaki;
   }
}

.socials {
   display: inline-block;
   width: 80rem;
   height: 40rem;
   padding: 1rem;
   border-radius: 1rem;
   color: $color-khaki;
   background-color: rgba($color-navy-blue, .7);
   position: absolute;
   bottom: 2rem;
   right: 2rem;

   @include glassmorphism;

   @include respond(tab-land) {
      width: 100%;
      position: relative;
      bottom: 0;
      right: 0;
      margin-top: 2rem;
      margin-bottom: 2rem;
   }
}